# Template Environment Variables untuk UMKM Mahasiswa
# Salin berkas ini ke '.env' untuk kustomisasi lokal jika diperlukan

# Konfigurasi Database MySQL
DB_URL=jdbc:mysql://localhost:3306/db_umkm?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=qwertyuiop
